[Unit]
Description=Process queued motion event videos every minute

[Timer]
OnBootSec=30s
OnUnitInactiveSec=1min
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
