[Unit]
Description=Maintain motion media every minute

[Timer]
OnActiveSec=45s
OnUnitInactiveSec=1min
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
